<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="/static/output.css" rel="stylesheet"> -->
    <meta charset="UTF-8">
    <title>Post Form</title>
</head>
<body>
    <form action="/" method="post">
        <h2 style="font-size: 2.5rem;">Send a like or a comment</h2>

        <input placeholder="Action Type" type="text" id="actionType" name="actionType" required><br><br>

        <input type="text" placeholder="Comment" id="Comment" name="Comment"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>