<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Status</title>
</head>
<body>
    <h1>Task Status</h1>
    {% for i in range(all_task_ids|length) %}
        <p><strong>Task ID: {{ all_task_ids[i] }}</strong></p>
        {% if result %}
            <p>Status: {{ status[i] }}</p>
            <p>Result: {{ result[i] }}</p>
            <p>Error Logs: {{ error_log[i] }}</p>
            <p>Attempts Made: {{ tries[i] }}</p><br><br>
        {% else %}
            <p>Status: {{ status[i] }}</p><br><br>
        {% endif %}
    {% endfor %}
    <br>
    <button onclick="window.location.href='/'">Submit a new task</button>
</body>
</html>
